# Summary of Reviews with Low Scores

Here we will summarize the topics that resulted from an analysis of the reviews that received the lowest ratings.

In [4]:
from student_voices import sv_utils as bn

db_root = 'D:/Student_Voices_Database/s3mirror/'
dta_root = 'C:/Projects/VirtualMachines/Student_Voices/svvm/Student_Voices/student_voices/data'

full_coherence_data = bn.loosen(db_root+'/results/full_coherence_data.pickle')

In [31]:
from IPython.display import HTML, display_html

rng = '[0, 35)' # view for this range
top_n = 5 # show the top n models 
ctd = ['CS_Ave', 'CS_Med', 'CS_0.5','CS_0.54', 'CS_0.59'] # coherence to display 

review_this = full_coherence_data[full_coherence_data['Range']==rng]
review_this = full_coherence_data[(full_coherence_data['Range']==rng) & (full_coherence_data['N_Topics']<13)]

for c in ctd: 
    print("Sort by",c)
    disp = review_this.sort_values(c, ascending=False)
    display_html(HTML(disp.head(top_n).to_html()))

Sort by CS_Ave

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
55,"[0, 35)",LDA4,D1,12,0.494182,0.473282,0.416667,0.250000,0.166667,0.0,0.0
78,"[0, 35)",LDA2,D1,12,0.491516,0.478707,0.250000,0.250000,0.083333,0.0,0.0
75,"[0, 35)",LDA2,D1,9,0.490188,0.483101,0.444444,0.222222,0.111111,0.0,0.0
122,"[0, 35)",LDA1,E1,12,0.488613,0.490323,0.416667,0.083333,0.083333,0.0,0.0
30,"[0, 35)",LDA1,D1,10,0.488023,0.490618,0.300000,0.300000,0.000000,0.0,0.0

Sort by CS_Med

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
54,"[0, 35)",LDA4,D1,11,0.487023,0.496495,0.363636,0.181818,0.181818,0.0,0.0
175,"[0, 35)",LDA3,A1,9,0.476947,0.490627,0.333333,0.111111,0.000000,0.0,0.0
30,"[0, 35)",LDA1,D1,10,0.488023,0.490618,0.300000,0.300000,0.000000,0.0,0.0
122,"[0, 35)",LDA1,E1,12,0.488613,0.490323,0.416667,0.083333,0.083333,0.0,0.0
32,"[0, 35)",LDA1,D1,12,0.486637,0.488937,0.416667,0.166667,0.000000,0.0,0.0

Sort by CS_0.5

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
93,"[0, 35)",LDA2,E1,6,0.469659,0.480574,0.500000,0.166667,0.000000,0.0,0.0
158,"[0, 35)",LDA2,A1,12,0.484843,0.481357,0.500000,0.250000,0.000000,0.0,0.0
94,"[0, 35)",LDA2,E1,9,0.471162,0.444016,0.444444,0.222222,0.000000,0.0,0.0
75,"[0, 35)",LDA2,D1,9,0.490188,0.483101,0.444444,0.222222,0.111111,0.0,0.0
27,"[0, 35)",LDA1,D1,7,0.469849,0.469130,0.428571,0.142857,0.000000,0.0,0.0

Sort by CS_0.54

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
101,"[0, 35)",LDA4,E1,3,0.444624,0.427428,0.333333,0.333333,0.0,0.0,0.0
29,"[0, 35)",LDA1,D1,9,0.483175,0.485046,0.333333,0.333333,0.0,0.0,0.0
30,"[0, 35)",LDA1,D1,10,0.488023,0.490618,0.300000,0.300000,0.0,0.0,0.0
31,"[0, 35)",LDA1,D1,11,0.483235,0.477294,0.363636,0.272727,0.0,0.0,0.0
28,"[0, 35)",LDA1,D1,8,0.476102,0.477943,0.250000,0.250000,0.0,0.0,0.0

Sort by CS_0.59

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
54,"[0, 35)",LDA4,D1,11,0.487023,0.496495,0.363636,0.181818,0.181818,0.0,0.0
55,"[0, 35)",LDA4,D1,12,0.494182,0.473282,0.416667,0.250000,0.166667,0.0,0.0
52,"[0, 35)",LDA4,D1,9,0.469190,0.441636,0.333333,0.111111,0.111111,0.0,0.0
75,"[0, 35)",LDA2,D1,9,0.490188,0.483101,0.444444,0.222222,0.111111,0.0,0.0
53,"[0, 35)",LDA4,D1,10,0.478794,0.469211,0.400000,0.100000,0.100000,0.0,0.0

# Analysis 

### Intro 

The remainder of this notebook examines the topics for the different models that were estimated for the ratings that had the worst ratings. We examine models with different number of topics and compare them to one another. The analysis is presented in the order in which it was conducted. 

### First evaluation of coherence by model and number of topics for ratings ranged [0, 35)

Based on average and median coherence, the model that best fit the 0-35 corpus was the setting *LDA1* with cleaning config *D1* and number of topics = 27 (LDA1, D1, 27).

**Insight 1** - *In general a higher number of topics resulted in higher coherence*
<br>**Insight 2** - *For higher number of topics the D1 cleaning config was consistently higher*

**D1 in comparison**
<br>D1 implements both stemmer and lemmatizer, like A1, but differs in that it does not collect n_gram words in the dictionary "laid_back" example.

### Examining models with fewer topics in [0,35) 

When reviewing fewer topics using the same corpus, again higher number of topics lead to higher coherence, D1 is the dominant cleaning configuration, and the optimal settings vary depending on the highest number of topics reviewed. These findings are less relevant because average coherence remains very low and differences between the average or median coherence scores are diminutive.

In order to compare the results of a model on fewer topics with the results above we restrict ourselves to the same parameters as the optimal model we chose (LDA1, D1, <13 topics). 

The best performing model with the *LDA1* and *D1* setting had 10 topics.