# Summary of Reviews with Low Scores

Here we will summarize the topics that resulted from an analysis of the reviews that received the lowest ratings.

In [4]:
from student_voices import sv_utils as bn

db_root = 'D:/Student_Voices_Database/s3mirror/'
dta_root = 'C:/Projects/VirtualMachines/Student_Voices/svvm/Student_Voices/student_voices/data'

full_coherence_data = bn.loosen(db_root+'/results/full_coherence_data.pickle')

In [23]:
from IPython.display import HTML, display_html

rng = '[0, 35)' # view for this range
top_n = 5 # show the top n models 
ctd = ['CS_Ave', 'CS_Med', 'CS_0.5','CS_0.54', 'CS_0.59'] # coherence to display 

review_this = full_coherence_data[full_coherence_data['Range']==rng]
#review_this = full_coherence_data[(full_coherence_data['Range']==rng) & (full_coherence_data['N_Topics']<20)]

for c in ctd: 
    print("Sort by",c)
    disp = review_this.sort_values(c, ascending=False)
    display_html(HTML(disp.head(top_n).to_html()))

Sort by CS_Ave

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
45,"[0, 35)",LDA1,D1,27,0.528722,0.530162,0.629630,0.481481,0.185185,0.037037,0.0
40,"[0, 35)",LDA1,D1,22,0.524990,0.542166,0.636364,0.545455,0.136364,0.000000,0.0
89,"[0, 35)",LDA2,D1,25,0.524282,0.512153,0.560000,0.480000,0.240000,0.040000,0.0
83,"[0, 35)",LDA2,D1,19,0.523830,0.513162,0.526316,0.421053,0.210526,0.000000,0.0
91,"[0, 35)",LDA2,D1,27,0.521792,0.522522,0.592593,0.407407,0.222222,0.000000,0.0

Sort by CS_Med

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
40,"[0, 35)",LDA1,D1,22,0.524990,0.542166,0.636364,0.545455,0.136364,0.0,0.0
38,"[0, 35)",LDA1,D1,20,0.521245,0.539950,0.650000,0.500000,0.200000,0.0,0.0
11,"[0, 35)",LDA3,D1,16,0.510561,0.537158,0.625000,0.437500,0.250000,0.0,0.0
22,"[0, 35)",LDA3,D1,27,0.516089,0.531605,0.592593,0.481481,0.185185,0.0,0.0
12,"[0, 35)",LDA3,D1,17,0.512924,0.531471,0.588235,0.294118,0.235294,0.0,0.0

Sort by CS_0.5

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
16,"[0, 35)",LDA3,D1,21,0.520415,0.518828,0.666667,0.380952,0.190476,0.000000,0.0
38,"[0, 35)",LDA1,D1,20,0.521245,0.539950,0.650000,0.500000,0.200000,0.000000,0.0
40,"[0, 35)",LDA1,D1,22,0.524990,0.542166,0.636364,0.545455,0.136364,0.000000,0.0
37,"[0, 35)",LDA1,D1,19,0.515144,0.513396,0.631579,0.315789,0.157895,0.000000,0.0
45,"[0, 35)",LDA1,D1,27,0.528722,0.530162,0.629630,0.481481,0.185185,0.037037,0.0

Sort by CS_0.54

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
40,"[0, 35)",LDA1,D1,22,0.524990,0.542166,0.636364,0.545455,0.136364,0.000000,0.0
38,"[0, 35)",LDA1,D1,20,0.521245,0.539950,0.650000,0.500000,0.200000,0.000000,0.0
22,"[0, 35)",LDA3,D1,27,0.516089,0.531605,0.592593,0.481481,0.185185,0.000000,0.0
45,"[0, 35)",LDA1,D1,27,0.528722,0.530162,0.629630,0.481481,0.185185,0.037037,0.0
89,"[0, 35)",LDA2,D1,25,0.524282,0.512153,0.560000,0.480000,0.240000,0.040000,0.0

Sort by CS_0.59

,Range,Setting,Config,N_Topics,CS_Ave,CS_Med,CS_0.5,CS_0.54,CS_0.59,CS_0.64,CS_0.69
11,"[0, 35)",LDA3,D1,16,0.510561,0.537158,0.625000,0.437500,0.250000,0.000000,0.0
89,"[0, 35)",LDA2,D1,25,0.524282,0.512153,0.560000,0.480000,0.240000,0.040000,0.0
85,"[0, 35)",LDA2,D1,21,0.514685,0.498531,0.428571,0.333333,0.238095,0.000000,0.0
12,"[0, 35)",LDA3,D1,17,0.512924,0.531471,0.588235,0.294118,0.235294,0.000000,0.0
86,"[0, 35)",LDA2,D1,22,0.519379,0.497814,0.454545,0.363636,0.227273,0.045455,0.0

# Analysis 

### Intro 

The remainder of this notebook examines the topics for the different models that were estimated for the ratings that had the worst ratings. We examine models with different number of topics and compare them to one another. The analysis is presented in the order in which it was conducted. 

### First evaluation of coherence by model and number of topics for ratings ranged [0, 35)

Based on average and median coherence, the model that best fit the 0-35 corpus was the setting *LDA1* with cleaning config *D1* and number of topics = 27 (LDA1, D1, 27).

**Insight 1** - *In general a higher number of topics resulted in higher coherence*
<br>**Insight 2** - *For higher number of topics the D1 cleaning config was consistently higher*

**D1 in comparison**
<br>D1 implements both stemmer and lemmatizer, like A1, but differs in that it does not collect n_gram words in the dictionary "laid_back" example.